@model IEnumerable<C5_PJ_Restaurante_Cliente_MVC.Models.tb_producto>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id_producto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_categoria_producto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nom_producto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.des_producto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.preciouni_producto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stock_producto)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id_producto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.id_categoria_producto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nom_producto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.des_producto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.preciouni_producto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.stock_producto)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>

