@model IEnumerable<C5_PJ_Restaurante_Cliente_MVC.Models.ProductoPortal>
@{
    ViewData["Title"] = "Portal";
}
<link href="~/css/ProyectEcommerce.css" rel="stylesheet" type="text/css" />
<link href="~/css/ProductCard.css" rel="stylesheet" type="text/css" />

<!-- StyleSheet -->
<!-- Bootstrap -->
<link href="~/css/template/bootstrap.css" rel="stylesheet" type="text/css" />
<!-- Magnific Popup -->
<link href="~/css/template/magnific-popup.min.css" rel="stylesheet" type="text/css" />
<!-- Font Awesome -->
<link href="~/css/template/font-awesome.css" rel="stylesheet" type="text/css" />
<!-- Fancybox -->
<link href="~/css/template/jquery.fancybox.min.css" rel="stylesheet" type="text/css" />

<!-- Themify Icons -->
<link href="~/css/template/themify-icons.css" rel="stylesheet" type="text/css" />
<!-- Nice Select CSS -->
<link href="~/css/template/niceselect.css" rel="stylesheet" type="text/css" />


<!-- Animate CSS -->
<link href="~/css/template/animate.css" rel="stylesheet" type="text/css" />
<!-- Flex Slider CSS -->
<link href="~/css/template/flex-slider.min.css" rel="stylesheet" type="text/css" />
<!-- Owl Carousel -->
<link href="~/css/template/owl-carousel.css" rel="stylesheet" type="text/css" />

<!-- Slicknav -->
<link href="~/css/templates/licknav.min.css" rel="stylesheet" type="text/css" />

<!-- Eshop StyleSheet -->
<link href="~/css/templates/reset.css" rel="stylesheet" type="text/css" />
<link href="~/css/templates/responsive.css" rel="stylesheet" type="text/css" />
<link href="~/css/style.css" rel="stylesheet" type="text/css" />

<!-- Web Font -->
<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

<!--font awesome icons-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />





<!--<h2>Portal de Ventas</h2>-->
<!--
<div>
    <a asp-action="Canasta" asp-controller="Producto" class="btn btn-danger">Ir a la Canasta</a>
</div>-->

<div class="banner">
    <img id="banner"src="~/img/banner1.png" alt="Banner" />
</div>

<div class="container-fluid col-12">
    <br /><br />
    <h2>🚨🚨 Promociones de Locura 🚨🚨</h2>

</div>

<!-- Start Small Banner  -->
<section class="small-banner section">
    <div class="container-fluid">
        <div class="row">
            <!-- Single Banner  -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="single-banner">
                    <img id="banner" src="~/img/portada1.jpg" alt="Banner" />
                </div>
            </div>
            <!-- /End Single Banner  -->
            <!-- Single Banner  -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="single-banner">
                    <img id="banner" src="~/img/portada2.jpg" alt="Banner" />
                </div>
            </div>
            <!-- /End Single Banner  -->
            <!-- Single Banner  -->
            <div class="col-lg-4 col-12">
                <div class="single-banner tab-height">
                    <img id="banner" src="~/img/portada3.jpg" alt="Banner" />
                </div>
            </div>
            <!-- /End Single Banner  -->
        </div>
    </div>
</section>
<!-- End Small Banner -->
<!-- Start Shop Services Area -->
<section class="shop-services section home">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="fa fa-motorcycle" aria-hidden="true"></i>
                    <h4>DELIVERY GRATIS</h4>
                    <p>Pedidos mayores a S/.50 </p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    <h4>CALIDAD GARANTIZADA</h4>
                    <p>Con el sabor de la casa</p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                    <h4>PAGO SEGURO</h4>
                    <p>100% seguro de pago</p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="fa fa-cutlery" aria-hidden="true"></i>
                    <h4>SABORES VARIADOS</h4>
                    <p>Acompañalos con piqueos y más</p>
                </div>
                <!-- End Single Service -->
            </div>
        </div>
    </div>
</section>
<!-- End Shop Services Area -->

<div class="container-fluid col-12">
    <br /><br />
    <h2>Escoge tus favoritos</h2>

</div>




<div class="portal">
    @foreach (var item in Model)
    {
        <div class="registro">
            
            <div class="column-card">
                <!--verificar que las imagenes sean todos png o jpg-->
                <img class="image-product" src="@item.imagen_producto" />

            </div>

            <div class ="column-card description">
                
                <div class="row">
                    @*<div class="col-12">@Html.DisplayFor(modelItem => item.id_producto)</div>*@
                    <span style="font-weight: bold; font-size: 1.4em; ">
                        <div class="col-12">@Html.DisplayFor(modelItem => item.nom_producto)</div>
                    </span>
                    @*<div class="col-12">@Html.DisplayFor(modelItem => item.des_producto)</div>*@
                    <div class="col-12">@Html.DisplayFor(modelItem => item.des_categoria_producto)</div>
                    <br><br>
                    <div class="col-12">S/. @Html.DisplayFor(modelItem => item.preciouni_producto)</div>                
                    <br>
                    <div class="col-12"> Disponible : @Html.DisplayFor(modelItem => item.stock_producto) unid.</div>
                    <br> <br>
                    <div class="col-12 ">
                        @Html.ActionLink(" 🛒 Agregar al carrito", "Agregar", new { id=item.id_producto }, new { @class = "btn" })
                    </div>
                    
                </div>
                <br> <br>
                
            </div>
            
         
        </div>
    }
</div>



<!-- Jquery -->
<script src="js/jquery.min.js"></script>
<script src="js/jquery-migrate-3.0.0.js"></script>
<script src="js/jquery-ui.min.js"></script>
<!-- Popper JS -->
<script src="js/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="js/bootstrap.min.js"></script>
<!-- Color JS -->
<script src="js/colors.js"></script>
<!-- Slicknav JS -->
<script src="js/slicknav.min.js"></script>
<!-- Owl Carousel JS -->
<script src="js/owl-carousel.js"></script>
<!-- Magnific Popup JS -->
<script src="js/magnific-popup.js"></script>
<!-- Waypoints JS -->
<script src="js/waypoints.min.js"></script>
<!-- Countdown JS -->
<script src="js/finalcountdown.min.js"></script>
<!-- Nice Select JS -->
<script src="js/nicesellect.js"></script>
<!-- Flex Slider JS -->
<script src="js/flex-slider.js"></script>
<!-- ScrollUp JS -->
<script src="js/scrollup.js"></script>
<!-- Onepage Nav JS -->
<script src="js/onepage-nav.min.js"></script>
<!-- Easing JS -->
<script src="js/easing.js"></script>
<!-- Active JS -->
<script src="js/active.js"></script>   