@model C5_PJ_Restaurante_Cliente_MVC.Models.Usuario

<style>
	.form-singin {
		margin: 0 auto;
		max-width: 330px;
		padding: 15px;
	}

	h4 {
		text-align: center;
	}

	.text-danger {
		color: red;
	}
</style>

<div class="container">
	<div class="row justify-content-center">
		<h4>Inicio de sesión</h4>
	</div>
</div>

<div class="container">
	<div class="row justify-content-center">
		@using (Html.BeginForm("Index", "Usuario", FormMethod.Post, new { @class = "form-singin" }))
		{
			@Html.AntiForgeryToken()
			@Html.ValidationSummary(true, "", new {@class = "text-danger"})

			@Html.TextBoxFor(m => m.email_usuario, new {@class = "form-control", @placeholder = "Login"})
			@Html.ValidationMessageFor(m => m.email_usuario, "", new { @class = "text-danger"})

			@Html.TextBoxFor(m => m.password_usuario, new {@class = "form-control", @placeholder = "Contraseña"})
			@Html.ValidationMessageFor(m => m.password_usuario, "", new { @class = "text-danger"})
			<br>
			<input type="submit" value="Iniciar Sesión" class="btn btn-lg btn-primary" />
		}
	</div>
</div>