@model C5_PJ_Restaurante_Cliente_MVC.Models.Usuario

<style>
	.form-singin {
		margin: 0 auto;
		max-width: 330px;
		padding: 15px;
	}

	h4 {
		text-align: center;
	}

	.text-danger {
		color: red;
	}

	#contact-us{
		margin-top:100px;
	

	}

	.container.login{
		color: white;
		background-color:black;
		border-radius:25px;
	}

	body {
		background-image: url('https://lenaycarbon.pe/assets/img/motorizados_lenaycarbon.jpg');
		background-size:cover;
	}
</style>

<div class="container">
	<div class="row justify-content-center">
		<h4></h4>
	</div>
</div>


<!-- Start form -->

<section id="contact-us" class="contact-us section">
	<div class="container login">
		<div class="contact-head">
			<div class="row">
				<div class="col-lg-12 col-12 ">
					<div class="form-main">
						<div class="title">
						
							<h3>Bienvenido de nuevo ! </h3>
						</div>

						<div class="container">
							<div class="row justify-content-center">
								@using (Html.BeginForm("Index", "Usuario", FormMethod.Post, new { @class = "form-singin" }))
								{
									@Html.AntiForgeryToken()
									@Html.ValidationSummary(true, "", new {@class = "text-danger"})

															<label>Usuario<span>*</span></label>
															@Html.TextBoxFor(m => m.email_usuario, new {@class = "col-lg-12 col-12 form-control form-group", @placeholder = "Login"})
									@Html.ValidationMessageFor(m => m.email_usuario, "", new { @class = "text-danger"})

															<label>Clave<span>*</span></label>

															@Html.TextBoxFor(m => m.password_usuario, new {@class = "col-lg-12 col-12 form-control form-group", @placeholder = "Contraseña"})
									@Html.ValidationMessageFor(m => m.password_usuario, "", new { @class = "text-danger"})


									<br>
									<input type="submit" value="Iniciar Sesión" class="btn btn-lg btn-primary" />
								}
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>